<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastrar Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastrar Produto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Nome do Produto</ion-label>
    <ion-input [(ngModel)]="nomeProduto"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Preço</ion-label>
      <ion-input [(ngModel)]="precoProduto" type="number" placeholder="Preço do produto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Estoque</ion-label>
      <ion-input [(ngModel)]="estoqueProduto" type="number" placeholder="Quantidade em estoque"></ion-input>
    </ion-item>
  <ion-button (click)="cadastrarProduto()">Cadastrar</ion-button>
  <ion-button (click)="irParaMenu()">Voltar</ion-button>
</ion-content>
