ion-label{
    font-size: 1.2em;
    margin: 0.75em;
}

ion-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ion-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    margin: 0.75em;
}